
<div *ngIf="auth.user | async as user; else login" class="loginDiv">
  {{ user.uid }} - {{ user.email }}
<br>
  <button (click)="auth.logout()">Logout</button>
</div>

<ng-template #login>
 
  <div class="loginDiv">
    <form action="" class="form">
      <input type="text" name="email"  placeholder="Introduce tu email" [(ngModel)]="auth.email"/>
    
      <br><br>

      <input type="password" name="pass"  placeholder="Introduce tu contraseña" [(ngModel)]="auth.pass"/>
    
      <br><br>

      <button (click)="auth.login()">Email Login</button>
  
      <br><br>

      <button (click)="auth.glogin()">Google Login</button>
    </form>
  </div>
</ng-template>
<router-outlet></router-outlet>